*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 150px;
    position: fixed;
    z-index: 3;
    background-color: #fff;
    margin-top: -120px;
}
nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul{
   margin-left: 30%;
   display: inline;
}
.nav-links ul li {  
    position: relative;
    display: inline-block;  
    padding: 5px 4px;
    color: #739eb7 ; 
    font-size: 17px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li:hover{
     opacity: 0.5;
     color: #003557;
}
.main{
    position: relative;
    background-image: url(./img/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 8%;
    height: 1150px;
}

.div_body h1{
    position: absolute;
    width: 457px;
    height: 80px;
    font-size: 40px;
    font-weight: normal;
    left: 100px;
    top: 100px;
    line-height: 70px;
    color: #004C7A;
}
.div_body h4{
    position: absolute;
    width: 600px;
    height: 90px;
    left: 100px;
    top: 300px;
    font-size: 20px;
    font-weight: lighter;
    line-height: 32px;
    color: #77787B;
}
.btn{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 110px;
    top: 430px;
    padding: 2px 2px;
    background: #F48120;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.row1{ 
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50%;
    top: 950px;
    height: 300px;
    margin-right: 15px;
    margin-left: 10%;
}
.row_deals1 img{
    width: 300px;
    height: 150px;
    top: 50px;

}
.row_deals1 h4{
    text-align: center;
    color: #77787B;
    height: 500px ;
    margin-top: 0%;
    line-height: 25px;
}
.row_deals2 img{
    width: 310px;
    height: 120px;
    margin-left: 20%;
    top: 60px;
}
.row_deals2 h4{
    text-align: center;
    color: #77787B;
    height: 500px ;
    margin-top: 9%;
    margin-left: 30%;
    margin-right: -20%;
    line-height: 25px;
}
.row_deals1 .btn1{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 100px;
    top: 290px;
    padding: 2px 2px;
    background: #F48120;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.row_deals2 .btn2{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 500px;
    top: 290px;
    padding: 2px 2px;
    background: #F48120;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.layer{
    position: relative;
    width: 100%;       
}
.globe{
    position: relative;
    top: 90px;
}
.globe img{
    position: relative;
    width: 15% ;
    margin-top: 12%;
}
.row{        
    position: relative;          
    display: flex;      
    margin-top: 2%;  
    line-height: 22px;  
    font-size: 15px;   
}
.row_col{      
    flex-basis: 31%;
    color: #77787B;
    margin-left: 17%;
    padding: 20px 12px;
    text-align: center;
    margin-top: 60px;
}     
.row_col2{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}
.row_col2 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    margin-right: 300px;
}
.row_col .btn3{
    position: absolute;
    width: 260px;
    height: 50px;
    left: 320px;
    padding: 2px 2px;
    top: 250px;
    background: #F48120;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.layer2{     
    position: relative;
    width: 100%;       
}
.aim{
    position: relative;
    top: 90px;
}
.aim img{
    position: relative;
    width: 15% ;   
    margin-left: 85%;
    margin-top: 8%;
}
.column{    
    position: relative;          
    display: flex;   
    line-height: 22px;    
    font-size: 15px;   
}
.column1{    
    flex-basis: 31%;
    color: #77787B;
    margin-left: 50%;
    padding: 20px 12px;
    text-align: center;
    margin-top: 60px;
}     
.column2{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}
.column2 img{
    position: absolute;
    top: 0;
    right: 140px ;
    width: 420px;
    margin-right: 400px;
}
.column1 .btn4{
    position: absolute;
    width: 220px;
    height: 50px;
    left: 770px;
    top: 240px;
    padding: 2px 2px;
    background: #F48120;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.layer3{
    position: relative;
    width: 100%;       
}
.action{
    position: relative;
    top: 100px;
}
.action img{
    position: relative;
    width: 15% ;
    margin-top: 8%;
}
.data{        
    position: relative;          
    display: flex;      
    margin-top: 2%;
    line-height: 22px;    
    font-size: 15px;   
  
}
.data1{      
    flex-basis: 31%;
    color: #77787B;
    margin-left: 17%;
    padding: 20px 12px;
    text-align: center;
    margin-top: 60px;
}     
.data2{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}
.data2 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    margin-right: 300px;
}
.data1 .btn5{
    position: absolute;
    width: 260px;
    height: 50px;
    left: 320px;
    top: 260px;
    padding: 2px 2px;
    background: #F48120;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.layer4{     
    position: relative;
    width: 100%;       
}
.medicine{
    position: relative;
    top: 90px;
}
.medicine img{
    position: relative;
    width: 15% ;   
    margin-left: 85%;
    margin-top: 5%;
}
.eye{    
    position: relative;          
    display: flex;   
    line-height: 22px;   
    font-size: 15px;   
}
.eye1{    
    flex-basis: 31%;
    color: #77787B;
    margin-left: 50%;
    padding: 20px 12px;
    text-align: center;
    margin-top: 80px;
}     
.eye2{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}
.eye2 img{
    position: absolute;
    top: 0;
    right: 140px ;
    width: 420px;
    margin-right: 400px;
}
.eye1 .btn6{
    position: absolute;
    width: 220px;
    height: 50px;
    left: 790px;
    top: 280px;
    padding: 2px 2px;
    background: #F48120;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.layer5{
    position: relative;
    width: 100%;       
}
.build{
    position: relative;
    top: 90px;
}
.build img{
    position: relative;
    width: 15% ;
    margin-top: 5%;
}
.test{        
    position: relative;          
    display: flex;          
    line-height: 22px;  
    font-size: 15px;   
  
}
.test1{      
    flex-basis: 31%;
    color: #77787B;
    margin-left: 17%;
    padding: 20px 12px;
    text-align: center;
    margin-top: 90px;
}     
.test2{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;    
}
.test2 img{
    position: absolute; 
    top: 0;
    left: 0;
    width: 400px;
    margin-right: 300px;
}
.test1 .btn7{  
    width: 260px;
    height: 50px;
    left: 320px;
    top: 340px;
    padding: 2px 2px;
    background: #F48120;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.footer{ 
    background-color: #739eb7;
    padding: 50px ;
    color: #fff;
    z-index: 100;   
    width: 95%;
    margin-top: 250px;
}
.last{   
    text-align: center;    
}
.last h5{   
    padding: 20px;     
    font-size: 18px;
    font-weight: 400;
}
.media{    
    font-size: 32px;
    margin: 10px;
}
.socialmedia{
    display: flex;
    flex-direction: row;
    margin-left: 35%;  
}
.btn8{  
    width: 220px;
    height: 50px;
    left: 320px;
    top: 340px;
    padding: 2px 2px;
    background: #fff;
    color: #F48120;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.top{
    position: relative;
    width: 300px;
    background-color: #cedde6;
    height: 70px;
    padding-top: 25px;
    margin-left: 38%;
    margin-top: -145px;
    text-align: center;
    font-size: 25px;
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    font-weight: normal;
}
